.button {
  box-shadow: none !important;
}

.button:active {
  box-shadow: none !important;
}

.button-primary {
  background: #805cf5;
  box-shadow: none !important;
}

.button-primary:hover {
  box-shadow: none !important;
}

.button-primary:active {
  box-shadow: none !important;
}

.button-background {
  background: linear-gradient(to bottom, white, transparent);

  opacity: 0.06;

  transition: opacity 0.2s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.button:hover .button-background {
  opacity: 0.08;
}

.button:active .button-background {
  opacity: 0;

  transition: opacity 0.05s cubic-bezier(0.25, 0.1, 0.25, 1);
}
