.button {
  transition: all 0.2s cubic-bezier(0.25, 0.1, 0.25, 1),
    scale 0.1s cubic-bezier(0.25, 0.1, 0.25, 1),
    box-shadow 0.1s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.button:active {
  transition: all 0.2s cubic-bezier(0.25, 0.1, 0.25, 1),
    scale 0.05s cubic-bezier(0.25, 0.1, 0.25, 1),
    box-shadow 0.05s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.button-primary {
  background: #805cf5;
  background: color(display-p3 0.502 0.361 0.961);

  /* box-shadow: 0px 2px 4px 0px rgba(128, 92, 245, 0.12),
    0px 1px 1px 0px rgba(128, 92, 245, 0.12),
    0px 0.5px 0.5px 0px rgba(128, 92, 245, 0.16),
    0px 0.25px 0.25px 0px rgba(128, 92, 245, 0.2);

  box-shadow: 0px 2px 4px 0px color(display-p3 0.502 0.361 0.961 / 0.12),
    0px 1px 1px 0px color(display-p3 0.502 0.361 0.961 / 0.12),
    0px 0.5px 0.5px 0px color(display-p3 0.502 0.361 0.961 / 0.16),
    0px 0.25px 0.25px 0px color(display-p3 0.502 0.361 0.961 / 0.2); */
}

.button-primary:hover {
  /* box-shadow removed */
}

.button-primary:active {
  /* box-shadow removed */
}

.button-background {
  background: linear-gradient(to bottom, white, transparent);

  opacity: 0.06;

  transition: opacity 0.2s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.button:hover .button-background {
  opacity: 0.08;
}

.button:active .button-background {
  opacity: 0;

  transition: opacity 0.05s cubic-bezier(0.25, 0.1, 0.25, 1);
}
